@model Proyecto2.Models.Usuario

@{
    ViewBag.Title = "Eliminar Usuario";
}

<h2>Eliminar Usuario</h2>

<h3>¿Está seguro que desea eliminar este usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "Usuarios", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
    <input type="submit" value="Eliminar" class="btn btn-danger" />
    |
    @Html.ActionLink("Cancelar", "Index", "Admin", null, new { @class = "btn btn-default" })
    }
</div>
