@model Proyecto2.Models.Tarea

@{
    ViewBag.Title = "Eliminar Tarea";
}

<h2>Eliminar Tarea</h2>

<h3>¿Estás seguro de que deseas eliminar esta tarea?</h3>
<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "TareasMvc", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
    }



